/* costum props */
:root {
  --text-color: #111517;
  --element-bg: #fff;
  --body-bg: #fafafa;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}
*,
*::before
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-family:"Nunito Sans", "Arial", "sans-serif";
  background-color: var(--body-bg);
  color: var(--text-color);
  transition: background-color 0.4s ease,
  color 0.4s ease;
}
a {
  text-decoration: none;
}

/* dark mode */
.dark-mode {
  --text-color: #fff;
  --element-bg: #2B3844;
  --body-bg: #202C36;
}



img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 45px;
  padding-bottom: 45px;
}
.main-content-inner {
  margin-bottom: 80px;
}

/* site header */
.site-header {
padding-top: 24px;
padding-bottom: 24px;
background-color: var(--element-bg);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-logo {
  align-items: center;
  line-height: normal;
  font-size: 24px;
  color: var(--text-color);
  font-weight: 800;
}
.site-header-logo:hover {
  opacity: 0.8;
}
.site-header-logo:active {
  opacity: 0.6;
}
.site-header-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
}
.site-header-button:hover {
  opacity: 0.8;
  }
  .site-header-button:active {
    opacity: 0.6;
  }


.site-header-button-theme {
  border: 0;
  display: flex;
  align-items: center;
}
.search-control-wrapper {
  position: relative;
}
.search-icon {
  position: absolute;
  transform: translate(150% , 100%);
  width: 18px;
  height: 18px;
  color: var(--text-color);
}
.site-header-theme-text {
  text-align: center;
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

/* mian content */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.filters-input {
  min-width: 480px;
  padding: 18px 74px;
  border: 0;
  border-radius: 5px;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}
.filters-input-selection {
  min-width: 200px;
  padding: 18px 24px;
  border: 0;
  background-color: var(--element-bg);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
}


/* index countries */
.countries-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -75px;
  margin-bottom: -75px;
  list-style: none;
}
.contries-item {
  width: calc(25% - 75px);
  margin-left: 75px;
  margin-bottom: 105px;
  width: 264px;
  height: 336px;
}
.countries-item-theme {
  background-color: var(--element-bg);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  overflow: hidden;
}
.countries-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.country-info {
  padding: 24px 24px 18px;
}
.countries-detailes {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
}
.country-flag-name {
  font-weight: 800;
  line-height: 26px;
  font-size: 20px;
}
.countries-detalies-item:not(:last-child) {
  margin-bottom: 8px;
}
.countries-detalies-item {
  display: flex;
  flex-wrap: wrap;
}
.countries-detalies-value {
  margin-left: 4px;
  font-weight: 600;
}
.country-flag-link {
  color: var(--text-color);
}


/* country-page */
.country-page-back-wrapper {
  margin-bottom: 80px;
}
.country-page-back-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.country-page-back-link {
  display: inline-flex;
  align-items: center;
  background-color: var(--element-bg);
  padding: 10px 40px;
  border-radius: 6px;
  color: var(--text-color);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease,
  color 0.4s ease;
}
.country-page-back-link:hover {
  opacity: 0.8;
}
.country-page-back-link:active {
  opacity: 0.6;
}
.country-page-back-text {
  font-size: 16px;
  line-height: 20px;
}
.country-page-flag-info {
  display: flex;
}

.country-page-flag {
  width: 560px;
  height: 401px;
  object-fit: cover;
  margin-right: 120px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.03);
}




/* countrys-flag-info */
.country-page-info2 {
  width: 600px;
  height: 323px;
  padding-top: 40px;
}
.country-page-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
}
.country-page-dls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.country-page-flag-details {
  width: 250px;
}
.country-page-flag-details-item {
  display: flex;
}
.country-page-flag-details-item:not(:last-child) {
  margin-bottom: 12px;
}
.country-page-flag-details-title {
  margin-right: 4px;
}
.country-page-flag-details-value {
  margin: 0;
  font-weight: 300;
}

.country-page-border-countries {
  display: flex;
  align-items: center;
}
.country-page-border-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
}
.country-page-border-countries-list {
  display: flex;
  flex-wrap: wrap;
}
.country-page-border-country-link {
  min-width: 96px;
  padding: 5px 10px;
  background-color: var(--element-bg);
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--text-color);
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0,0, 0.1);
  transition: background-color 0.4s ease,
  color 0.4s ease;
}
.country-page-border-country-link:not(:last-child) {
  margin-right: 10px;
}
.country-page-border-country-link:hover {
  opacity: 0.8;
}
.country-page-border-country-link:active {
  opacity: 0.6;
}